<app-header></app-header>
<main>
  <ul id="users">
    @for (user of users; track user.id){
      <li>
        <app-user [user]="user" (select)="onSelection($event)" />
      </li>
    }
<!--     
    <li>
      <app-user [user]="users[1]" (select)="onSelection($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelection($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelection($event)" />
    </li> -->
  </ul>

  <app-tasks [name]="selectedUser?.name" [task]="selectedUser?.task" />
</main>
